.app-main{
    background-color: white;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.bottom-space{
    height: 100px;
}

.company-logo{
    font-size: 50px;
}

.summary{
    font-size: 30px;
    color: gray;
    text-align: center;
    padding: 50px;
}