.modal-body{
    background-color: white;
    color: black;
}

.modal-content{
    background-color: black;
    color: white;
    text-align: left;
    border: solid;
    border-width: 1px;
    border-color:#00B5FF;
}

.modal-footer{
    border: solid;
    border-width: 1px;
    border-color:#00B5FF;
}

.modal-header{
    text-align: center!important;
    border: solid;
    border-width: 1px;
    border-color:#00B5FF;
}

.modal-title{
    font-size: 50px!important;
    color: white;
    width: 100%;
}

.category-list{
    margin-top: 30px;
}

.category-summary{
    font-size: 20px!important;
}